body {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:darkred;
}

button {
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 10px 10px 10px black;
}
button:hover{
    background-color: gold;
    cursor: pointer;
}

label {
    font-style: bold;
    font-size: large;
}